* {
  margin: 0px;
}

html {
  lang: en;
}

meta {
  charset: utf-8;
}

body {
  background-color: #fdf9f9;
  font-family: Garamond, serif;
  font-size: 1em;
}

header {
  height: 70px;
  width: 100%;
  background-color: #d6b7b7;
}

header h1 {
    padding: 1%;
    padding-top: 2%;
}

nav table {
  background-color: #ffefef;
  border-collapse: collapse;
  border-bottom: 1px solid #cccccc;
  width: 100%;
  margin-bottom: 0%;
}

nav tr {
  font-size: 0.85em;
  height: 20px;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

nav td:hover {
  background-color: #d6b7b7;
}

#main_content table {
  width: 100%;
  height: auto;
  border-collapse: collapse;
}

#main_content td {
  padding-left: 2%;
}

#welcome_img {
  width: 40%;
}

#welcome_img img {
  width: 100%;
  height: auto;
  border: 7px solid #cccccc;
}

#welcome_text div {
  width: auto;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  height: auto;
  padding: 2%;
  margin-left: 2%;
  margin-right: 4%;
}

#welcome_text h3 {
  font-variant: small-caps;
}

form {
    margin-left: 2%;
    margin-top: 2%;
}

#contact_content {
  width: auto;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  height: auto;
  padding: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
}